In [20]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
INPUT_TYPE = 'csv'  # 'csv' 또는 'json' 중 선택
INPUT_FILE_PATH = '../data/split_files/transfer_data_real_part_1.csv'
OUTPUT_JSON_PATH = '../data/output.json'

In [21]:
if INPUT_TYPE == 'csv':
    df = pd.read_csv(INPUT_FILE_PATH, encoding='utf-8', on_bad_lines='skip')
elif INPUT_TYPE == 'json':
    with open(INPUT_FILE_PATH, 'r', encoding='utf-8') as f:
        data = json.load(f)
    df = pd.DataFrame(data)
else:
    raise ValueError('INPUT_TYPE 은 csv 또는 json 이어야 합니다.')

In [22]:
df

,type,txhash,timestamp,amount,denom,dpDenom,fromAddress,toAddress,fromChain,fromChainId,toChain,toChainId
0,Send,413D0BB67CBC4A66B2C32ECDD1C5974BCB6BBF012D6C7F...,1667135085000,7.216000,uatom,ATOM,cosmos1gwyv83zcnckdhuz3n78rvyzj59u8x6l8dk9cfy,cosmos1v0zv6s67mt7hqv6ky7au3pkqw3xcpp78pnp4uj,cosmos,cosmoshub-4,cosmos,cosmoshub-4
1,Send,931A14D99B42D18EA2BD5C61105489880BF1F7939A758B...,1667135085000,6.556260,uatom,ATOM,cosmos153lf4zntqt33a4v0sm5cytrxyqn78q7kz8j8x5,cosmos1q8mwcpw4x0kpskajuglgkhevpunujy3c2ekyh6,cosmos,cosmoshub-4,cosmos,cosmoshub-4
2,Send,ADA7DE328D1C68DA26F9721FCB407A41059C79F0C83C06...,1667135085000,3.000000,uatom,ATOM,cosmos1k77ggtxdd7fnahadu9nycpjmlnt87aq4cttcgx,cosmos1psr5x3kgra5fvm4gc4l6ufykn0nl3esdjeex8n,cosmos,cosmoshub-4,cosmos,cosmoshub-4
3,Send,08C37BBC858078112C461D81842F0B64C765E0FEC03946...,1667135086000,649.800000,uscrt,SCRT,secret1an5pyzzpu5ez7ep9m43yzmalymwls39qtk8rjd,secret1y9chu4ee326g9ay02nyv2sh7hhquz9sx52k785,secret,secret-4,secret,secret-4
4,Send,C8310F1D40F50A019BD76F5862E7B8D9B36DF4E33F3672...,1667135086000,500.000000,inj,INJ,inj17lw6c2xxflhljt3sty3sch9kpvfhcz98apdj8d,inj1u2rajhqtptzvu23leheta9yg99k3hazf4waf43,injective,injective-1,injective,injective-1
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Send,B6351AC61BC54C392B9F979DB75D143BDE4910F0F01988...,1667138965000,6.299700,uatom,ATOM,cosmos14z50qtcxtsrnjfa7fm0gf0smse299ezmy5vp2z,cosmos1nm0rrq86ucezaf8uj35pq9fpwr5r82cl8sc7p5,cosmos,cosmoshub-4,cosmos,cosmoshub-4
4996,Send,BF1A868272F1C6F8EB4CBBC1061E1E207B1F932BD8D445...,1667138965000,3.266877,uatom,ATOM,cosmos1msqcda8tugjjg8ht74jsrcg07gngksxuq7zs78,cosmos1nm0rrq86ucezaf8uj35pq9fpwr5r82cl8sc7p5,cosmos,cosmoshub-4,cosmos,cosmoshub-4
4997,Send,69B88856492E69A5BEA5E5650DA47C8E4C599B107A06FE...,1667138966000,0.293355,afet,FET,fetch1lezqmc0gq3vrz3rurprqu2lz0fh0udt8u4c0ng,fetch1sxzs93a2le7fs3ktlqs0wjsjcpddr2nhuwg4sm,fetchai,fetchhub-4,fetchai,fetchhub-4
4998,Send,79E5042FC0D1AE651702A4E99D759CFBB81B2BA8503C1F...,1667138966000,0.193790,afet,FET,fetch1jf5q7gzyj78n3wgtsjh0cmuna3zvj43knqu9vv,fetch1h2l3cnu7e23whmd5yrfeunacez9tv0plv5rxqy,fetchai,fetchhub-4,fetchai,fetchhub-4
4999,Send,A68A5A5F4584C6E7C428EF3A6C90FA01BA3AD3BB9CCA47...,1667138966000,0.291592,afet,FET,fetch1hhtp9wdyy7p56y3l0hmcukssqeku92agwyts2a,fetch16879evd4jyfnqgg56uxzekyx4luf89yn0t30qr,fetchai,fetchhub-4,fetchai,fetchhub-4

In [23]:
# IBCReceive 제거
df = df[df['type'] != 'IBCReceive']

In [24]:
# 외부체인 거래인가?
df['is_external'] = df['fromChain'] != df['toChain']

/tmp/ipykernel_751223/4245052492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['is_external'] = df['fromChain'] != df['toChain']

In [25]:
node_df = df

In [26]:
external_df = node_df[node_df['is_external']]

In [27]:
# 1. 보낸 트랜젝션 집계
sent_stats = (
    node_df
    .groupby('fromAddress')
    .agg(sent_tx_count = ('amount','count'),
         sent_tx_amount = ('amount','sum'))
    .rename_axis('address')
)

# 2. 받은 트랜젝션 집계
recv_stats = (
    node_df
    .groupby('toAddress')
    .agg(recv_tx_count = ('amount','count'),
         recv_tx_amount = ('amount','sum'))
    .rename_axis('address')
)

# 3. external sent 거래 집계
external_sent_stats = (
    external_df
    .groupby('fromAddress')
    .agg(external_sent_tx_count = ('amount','count'),
         external_sent_tx_amount = ('amount','sum'))
    .rename_axis('address')
)
# 4. external recv 거래 집계
external_recv_stats = (
    external_df
    .groupby('toAddress')
    .agg(external_recv_tx_count = ('amount','count'),
         external_recv_tx_amount = ('amount','sum'))
    .rename_axis('address')
)

# 1~4 종합
total_stats = (
    sent_stats
    .join(recv_stats, how='outer')
    .join(external_sent_stats, how='outer')
    .join(external_recv_stats, how='outer')
)

In [28]:
total_stats.describe()

,sent_tx_count,sent_tx_amount,recv_tx_count,recv_tx_amount,external_sent_tx_count,external_sent_tx_amount,external_recv_tx_count,external_recv_tx_amount
count,1601.000000,1.601000e+03,1379.000000,1.379000e+03,606.000000,6.060000e+02,602.000000,6.020000e+02
mean,2.474703,3.785276e+06,2.873096,4.394654e+06,1.714521,1.484271e+04,1.725914,1.494134e+04
std,8.656978,1.512026e+08,9.965062,1.629283e+08,4.071187,1.565175e+05,2.926093,1.551877e+05
min,1.000000,6.500000e-05,1.000000,1.000000e-06,1.000000,6.500000e-05,1.000000,1.000000e-06
25%,1.000000,1.420559e+00,1.000000,1.287355e+00,1.000000,1.900000e+00,1.000000,1.762500e+00
50%,1.000000,4.700000e+00,1.000000,1.215430e+01,1.000000,1.000000e+01,1.000000,1.008365e+01
75%,1.000000,5.202297e+01,1.000000,1.000000e+02,1.000000,8.457773e+01,1.000000,8.974383e+01
max,119.000000,6.050000e+09,206.000000,6.050330e+09,65.000000,3.257733e+06,53.000000,3.199916e+06

In [29]:
# 5. 시간대별 entrophy 계산
temp_df = node_df
# 5-1. timestamp → hour
temp_df['timestamp'] = pd.to_datetime(temp_df['timestamp'], unit = 'ms')
temp_df['timestamp'] = temp_df['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')
temp_df['hour'] = temp_df['timestamp'].dt.hour

# 5-2. 보낸 트랜잭션만 추출
sent = (
    temp_df[['fromAddress','hour']]
    .rename(columns={'fromAddress':'address'})
)

# 5-3. hour별 보낸 횟수 집계
hourly = (
    sent
    .groupby(['address','hour'])
    .size()
    .rename('hour_count')
    .reset_index()
)

# 5-4. Shannon entropy 계산
def shannon_entropy(counts):
    p = counts / counts.sum()
    return -(p * np.log2(p)).sum()

ent = (
    hourly
    .groupby('address')['hour_count']
    .apply(shannon_entropy)
    .rename('hour_entropy')
    .reset_index()
)
time_stats = ent

# 5-5. 기존 total_stats 와 병합 
total_stats = (
    total_stats.reset_index()
               .merge(time_stats, on='address', how='left')
               .fillna(0)
               .set_index('address')
)

/tmp/ipykernel_751223/3721333743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['timestamp'] = pd.to_datetime(temp_df['timestamp'], unit = 'ms')
/tmp/ipykernel_751223/3721333743.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['timestamp'] = temp_df['timestamp'].dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')
/tmp/ipykernel_751223/3721333743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['hour'] = temp_df['timestamp'].dt.hour

In [30]:
#6. 활동 일수 기반 꾸준지표 계산
date_stats = (
    temp_df
    .groupby('fromAddress')['timestamp']
    .agg(
        first_date       = 'min',
        last_date        = 'max',
        active_days_count= lambda x: x.nunique()
    )
    .rename_axis('address')
    .reset_index()
)

total_stats = (
    total_stats.reset_index()
               .merge(date_stats, on='address', how='left')
               .set_index('address')
)
total_stats['active_days_count'] = total_stats['active_days_count'].fillna(0)

In [31]:
#7. 거래 상대의 다양성
# 7-1. 보낸 거래 기준으로 고유 toAddress 수
cp_count_sent = (
    node_df
    .groupby('fromAddress')['toAddress']
    .nunique()
    .rename('counterparty_count_sent')
    .reset_index()
    .rename(columns={'fromAddress':'address'})
)

# 7-2. 받은 거래 기준으로 고유 fromAddress 수
cp_count_recv = (
    node_df
    .groupby('toAddress')['fromAddress']
    .nunique()
    .rename('counterparty_count_recv')
    .reset_index()
    .rename(columns={'toAddress':'address'})
)
# 7-3. 기존 total_stats 와 병합
total_stats = (
    total_stats.reset_index()
               .merge(cp_count_sent, on='address', how='left')
               .merge(cp_count_recv, on='address', how='left')
               .set_index('address')
)
total_stats['counterparty_count_sent'] = total_stats['counterparty_count_sent'].fillna(0)
total_stats['counterparty_count_recv'] = total_stats['counterparty_count_recv'].fillna(0)

In [32]:
total_stats.describe()

,sent_tx_count,sent_tx_amount,recv_tx_count,recv_tx_amount,external_sent_tx_count,external_sent_tx_amount,external_recv_tx_count,external_recv_tx_amount,hour_entropy,active_days_count,counterparty_count_sent,counterparty_count_recv
count,2473.000000,2.473000e+03,2473.000000,2.473000e+03,2473.000000,2.473000e+03,2473.000000,2.473000e+03,2473.000000,2473.000000,2473.000000,2473.000000
mean,1.602103,2.450557e+06,1.602103,2.450557e+06,0.420137,3.637155e+03,0.420137,3.637155e+03,0.021957,1.487667,0.992721,0.992721
std,7.064385,1.216587e+08,7.575789,1.216653e+08,2.144881,7.769412e+04,1.621867,7.678749e+04,0.131413,6.751659,3.422387,4.922534
min,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,-0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.020000e+00,1.000000,2.000000e-02,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000
75%,1.000000,1.246168e+01,1.000000,1.700000e+01,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000
max,119.000000,6.050000e+09,206.000000,6.050330e+09,65.000000,3.257733e+06,53.000000,3.199916e+06,1.000000,119.000000,101.000000,206.000000

In [33]:
#8. 거래금액 특성
# 8-1. 평균 송금액
total_stats['sent_tx_amount_mean'] = total_stats['sent_tx_amount'] / total_stats['sent_tx_count']
# 8-2. 평균 수신액
total_stats['recv_tx_amount_mean'] = total_stats['recv_tx_amount'] / total_stats['recv_tx_count']
# 8-3. 평균 외부 송금액
total_stats['external_sent_tx_amount_mean'] = total_stats['external_sent_tx_amount'] / total_stats['external_sent_tx_count']
# 8-4. 평균 외부 수신액
total_stats['external_recv_tx_amount_mean'] = total_stats['external_recv_tx_amount'] / total_stats['external_recv_tx_count']

In [34]:
total_stats.fillna(0, inplace=True)

/tmp/ipykernel_751223/366128738.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with datetime64[ns, Asia/Seoul], please explicitly cast to a compatible dtype first.
  total_stats.fillna(0, inplace=True)

In [ ]:
#to csv
total_stats.to_csv("../data/small_part_1.csv",index =True, encoding='utf-8')

In [36]:
node_df.to_csv("../data/small_transfer_part_1.csv", index=False)

In [37]:
node_df.nunique()

type              3
txhash         3962
timestamp      1509
amount         2779
denom            76
dpDenom          47
fromAddress    1601
toAddress      1379
fromChain        22
fromChainId      22
toChain          24
toChainId        24
is_external       2
hour              2
dtype: int64

In [38]:
node_df.shape

(3962, 14)